<!DOCTYPE html>
<html>
<head>
    <title>GRIZ.BA</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
    <link href="../../stylesheets/fontawesome/css/all.css" rel="stylesheet">
    <!-- FONTOVI -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Francois+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- AJAX & BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="./fontawesome/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!-- LAYOUT (prikazuje se na svakoj stranici kao template) -->

<!-- DIO ZA LOGO -->
<div class="container" id="logo">
    <div class="row mt-3">
        <img class="img-fluid" src="../images/logo.png">
    </div>
</div>
<!-- KRAJ LOGO-a -->

<!-- CONTAINER ZA CIJELU APLIKACIJU -->
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Loguj se</h3>
            <%if(poruka){%>
                <div class="alert alert-warning mt-3 mb-0">
                    <strong>Greška!</strong> <%=poruka%>
                </div>
            <%}%>
        </div>
        <div class="card-body">
            <form method="post" action="/login">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="email" class="form-control" name="email" placeholder="Email adresa" required>

                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="Lozinka" required>
                </div>
                <button type="submit" class="btn btn-success sirina" id="login">Loguj se</button>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Nemaš profil?<a href="/register"> Registruj se.</a>
            </div>
        </div>
    </div>

</div>
<!-- KRAJ APLIKACIJE -->
</body>
</html>