<div class="container pb-3 pt-3" id="aplikacija">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h4 class="mb-3">Pošalji izvještaj za ovaj mjesec</h4>
            <h6 class="mb-3"><i class="fas fa-info-circle mr-1"></i>Ukoliko želite detaljan izvještaj o ovome mjesecu možete ga dobiti na Vaš email.</h6>
            <form class="form-group" method="post" action="/manage/izvjestaj">
                <button class="form-control btn btn-primary" type="submit">Pošalji izvještaj</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 mt-4">
            <h4 class="mb-3">Prikaži statistiku</h4>
            <h6 class="mb-3"><i class="fas fa-info-circle mr-1"></i>Ukoliko želite pregled svih narudžbi za specifičan dan popunite formu ispod.</h6>
            <form class="from-group" method="post" action="/manage/prikazistatistiku">
                <h6 class="mb-3">Izaberite godinu:</h6>
                <input type="number" min="2020" max="2050" class="form-control" name="godina" required>
                <h6 class="mb-3 mt-3">Izaberite dan:</h6>
                <input type="number" min="1" max="31" class="form-control" name="dan" required>
                <h6 class="mb-3 mt-3">Izaberite mjesec:</h6>
                <input type="number" min="1" max="12" class="form-control" name="mjesec" required>
                <h6 class="mb-3 mt-3">Izaberite dostavljača:</h6>
                <select class="form-control" name="dostavljac_izbor">
                    <option value="0" selected>Svi dostavljači</option>
                    <%for(let i=0;i<svidostavljaci.length;++i){%>
                        <option value="<%=svidostavljaci[i].id%>"><%=svidostavljaci[i].ime%> <%=svidostavljaci[i].prezime%></option>
                    <%}%>
                </select>
                <button type="submit" class="form-control mt-4 btn btn-primary">Prikaži statistiku</button>
            </form>
        </div>
    </div>
</div>